/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");*/
/*@import url("fontawesome-all.min.css");*/

/* Stars and twinklins*/

.stars {
    background: url("../images/stars.png") repeat top center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    display: block;
    position: absolute;
    z-index: -1;
}


/* Basic */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /*background: rgb(60, 42, 122);*/
    /*background: linear-gradient(180deg, rgba(60, 42, 122, 1) 35%, rgba(31, 41, 101, 1) 100%);*/
    /*background: rgb(0,21,96);*/
    /*background: radial-gradient(circle, rgba(0,21,96,1) 0%, rgba(9,9,121,1) 35%);*/
    background: rgb(0, 17, 77);
    background: linear-gradient(180deg, rgba(0, 17, 77, 1) 0%, rgba(0, 21, 96, 1) 58%);
    color: var(--white);
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.3;
}

ol, ul {
    list-style: none;
}

a {
    display: inline-block;
    color: var(--light-slate);
    transition: color .2s ease-in-out;
}

a:hover {
    color: var(--blue);
    font-weight: bold;
    transition: var(--transition);
}

b, strong {
    font-weight: 600;
    color: #3e3e3e;
}

i, em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--lightest-slate);
    font-weight: 600;
    line-height: 1.1;
    margin: 0 0 0.75em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: inherit;
}

h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 3.25em;
    letter-spacing: -0.025em;
    font-weight: 300;
}

h1 strong {
    font-weight: 700;
}

h2 {
    font-size: 2em;
    letter-spacing: -0.015em;
}

h3 {
    font-size: 1.5em;
    letter-spacing: -0.015em;
}

em, i {
    font-style: italic;
}

hr {
    border: 0;
    border-top: solid 1px #444;
    border-top-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    height: 1px;
    margin: 3em 0;
}


/* Global Container */

.global-container {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    position: relative;
    z-index: 0;
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 50px;
    box-shadow: 0 10px 30px -10px var(--header-bg);
    /*backdrop-filter: blur(3px);*/
    /*background-color: rgba(60, 42, 122, .9);*/
    /*background: rgb(0,21,96);*/
    /*background: radial-gradient(circle, rgba(0,21,96,1) 0%, rgba(9,9,121,1) 35%);*/
    background-color: var(--header-bg);
}

/*********** Nav ***********/

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--font-mono);
    counter-reset: nav;
}


.logo img {
    position: relative;
    animation-name: logo-animation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    /*infinite;*/
}

@keyframes logo-animation {
    0% {
        transform: rotate(0deg);
        left: 0;
    }
    25% {
        transform: rotate(20deg);
        left: 0;
    }
    50% {
        transform: rotate(0deg);
        left: 280px;
    }
    55% {
        transform: rotate(0deg);
        left: 280px;
    }
    70% {
        transform: rotate(0deg);
        left: 280px;
    }
    100% {
        transform: rotate(-360deg);
        left: 0;
    }
}


#nav .logo a {
    padding: 0;
}

#nav a:hover {
    border-bottom: 1px solid var(--white);
}

#nav .logo img {
    /*width: 70px;*/
    /*height: 70px;*/
    cursor: pointer;
    transition: width;
}


.nav-links-container {
    display: flex;
}


.nav-links-container ol {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links-container ol li {
    margin-right: 2vw;
    font-weight: bold;
}

.nav-links-container a {
    text-decoration: none;
}

.resume-button-container .resume-button {
    color: var(--blue);
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 3px;
    padding: 0.5rem;
    font-weight: bolder;
    cursor: pointer;
    transition: var(--transition);
}

.resume-button-container .resume-button:hover, .email-link:hover {
    background: var(--blue);
    color: var(--header-bg);
    transition: 500ms;
    border: 1px solid var(--header-bg) !important;
}

.nav-links-container ol li {
    /*height: 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.nav-links-container ol li a {*/
/*    height: 100%;*/
/*}*/

.nav-links-container ol li a::before {
    counter-increment: nav;
    content: "0" counter(nav) ".";
    margin-right: 5px;
    color: var(--blue);
    font-size: var(--fz-sm);
    font-weight: bold;
    text-align: right;
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
}


/*Animation*/

#coding-animation {
    padding: 100px 0 0 0;
    margin: 0 auto;
    animation: coding 2s ease;
    width: 200px;
    opacity: 1;
}

.content.responsive #coding-animation {
    opacity: 0;
}


.content.responsive {
    position: relative;
    /*z-index: 1;*/
    /*margin-top: 400px;*/
    pointer-events: none;
}

@keyframes coding {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

/* Main */

main {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 0 50px;
    counter-reset: section;
    margin: 0 auto;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    /*min-height: 80vh;*/
    max-width: 1000px;
}

.intro p {
    width: 90%;
    max-width: 90% !important;
}


.project {
    padding: 2% !important;
}

#contact p {
    width: 100% !important;
}

#nav:hover {
    opacity: 1;
}

/* Intro */

.intro h1 {
    color: var(--blue);
    font-family: var(--font-mono);
    font-size: 30px;
}

.content h2, .content h3 {
    margin: 0;
    font-size: clamp(40px, 8vw, 80px);
}

.content h3 {
    color: var(--white);
}

.intro p {
    color: var(--white);
    margin-top: 20px;
    max-width: 70%;
}

.email-link {
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
    padding: 0.75rem;
    font-weight: bolder;
    font-family: var(--font-mono);
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
}

.intro .divButton {
    margin: 30px auto;
}

/* Contact 2*/

#contact p {
    text-align: center;
    width: 50%;
}

.about {
    padding-top: 120px;
}

#full-name {
    color: white;
}

#full-name span {
    opacity: 0;
    transition: all 0.4s ease;
}

#full-name span.fade {
    opacity: 1;
    color: var(--lightest-slate);
}

.about .numbered-heading {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    font-size: clamp(26px, 5vw, var(--fz-heading));
    white-space: nowrap;
}

.projects .numbered-project {
    display: flex;
    align-items: center;
}

.numbered-heading::before, .projects .numbered-project:before {
    margin-right: 10px;
    color: var(--blue);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
    font-weight: 400;
}

.numbered-heading:before {
    counter-increment: section 1;
    content: counter(section) ".";
}


.numbered-heading::after {
    content: "";
    width: 200px;
    height: 1px;
    margin-left: 20px;
    background-color: white;
    opacity: 0.3;
}

.about .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about .left-side {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .left-side p {
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.about ul.skills-list {
    font-weight: bolder;
}

.about ul.skills-list li::before {
    content: "▹";
    color: var(--blue);
    font-size: var(--fz-lg);
    line-height: 12px;
}

.about ul.skills-list li {
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    /*font-size: var(--fz-md);*/
}

.about-content {
    display: flex;
}

/*Image*/


.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%
}

.image-container {
    height: 300px;
    width: 250px;
}


.image {
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    border-radius: 50%;
    height: 100%;
    width: 100%;
    animation: my-image 5s;
    /*animation-delay: 2s;*/
}

@keyframes my-image {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}

.screen-svg {
    animation: screen-on 0s ease-in 5s forwards;
    animation-delay: 3s;
}

@keyframes screen-on {
    from {
        fill: #000;
    }
    to {
        fill: #fff;
    }

}


.overlay {
    height: 10%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    text-align: center;
    padding: 10px 0;
}

.image-container:hover .overlay {
    font-weight: bold;
    color: white;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.overline {
    color: var(--blue);
    font-family: var(--font-mono);
    font-size: var(--fz-xxl);
    font-weight: 400;
}

.overline, #contact h2, #contact p, #contact .email-link {
    margin-bottom: 20px;
}


.social-media {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0 auto;
}

.social-links {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.social-media i, .github-link i {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.social-links > a:first-child, .social-media > a:first-child {
    margin-right: 10px;
}

/*Tic Tac Toe*/

.tic-tac-toe {
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 50px 0;
}

.difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-mono);
    padding: 20px;
}

.difficulty span {
    margin-right: 20px;
}

.diffButtons {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: space-around;
}

#easy {
    background-color: var(--blue);
}

#hard:hover {
    background-color: var(--blue);
}

#easy, #hard {
    padding: 5px;
    border: 1px solid var(--blue);
    border-radius: 50%;
    cursor: pointer;
}

.winning-message {
    margin-bottom: 10px;
    font-family: var(--font-mono);
}


.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
    background-color: var(--blue);
}

#board.x .cell:not(.x):not(.o):hover::before,
#board.x .cell:not(.x):not(.o):hover::after,
#board.o .cell:not(.x):not(.o):hover::before {
    background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
#board.x .cell:not(.x):not(.o):hover::before,
#board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .1);
    height: var(--mark-size);
}

.cell.x::before,
#board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
#board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
#board.o .cell:not(.x):not(.o):hover::before,
#board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
#board.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.o::after,
#board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .83);
    height: calc(var(--mark-size) * .83);
    background-color: var(--tictactoe-bg);
}


.game-footer {
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-footer #restart-button {
    height: 40px;
    font-size: var(--fz-lg);
    font-weight: bold;
    border-radius: 5px;
    font-family: var(--font-mono);
    background-color: transparent;
    color: var(--blue);
    border: 1px solid var(--blue);
    padding: .5em .5em;
    cursor: pointer;
}

.game-footer #restart-button:hover {
    background-color: var(--blue);
    color: var(--header-bg);
    border-color: var(--header-bg);
    transition: 1s;
}

.number-of-players {
    font-weight: bold;
    font-family: var(--font-mono);
}

.number-of-players select {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.hide {
    opacity: 0;
    transition: 1s;
}

/*Projects*/

.projects {
    padding-top: 150px;
    counter-reset: project;
}

.project .numbered-project:before {
    counter-increment: project;
    content: counter(section) "." counter(project) ".";
}

.projects h2, #contact h2 {
    font-size: clamp(26px, 5vw, var(--fz-heading));
}

.projects h3 {
    font-size: clamp(26px, 5vw, 30px);
    margin-bottom: 30px;
}

.project {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 50px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project .project-image {
    width: 90%;
}

.project .project-image a {
    width: 100%;
}

.project .project-image img {
    width: 100%;
    border-radius: 10px;

}

.project .project-description {
    padding: 30px 0;
    width: 80%;
}

.github-link a {
    margin: 0 auto;
}

.github-link {
    display: flex;
    width: 100%;
    margin-top: 40px;
}

a.menu-icon {
    display: none;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

#day {
    color: white;
    font-family: var(--font-mono);
    font-weight: bold;
    margin-top: 20px;
}

#mic-drop {
    margin-top: 20px;
}

.mic {
    transform: translateX(-356px) translateY(-153px)
}

.animate-mic {
    animation: mic-drop1 2s ease 1s;
}


@keyframes mic-drop1 {
    from {
        transform: translateX(-356px) translateY(-153px);
    }
    to {
        transform: translateX(-356px) translateY(200px);
    }
}


/* Responsive */

@media only screen and (max-width: 1000px) {


    #coding-animation {
        padding-top: 200px;
    }


    main {
        padding: 0 5% 0 5%;
    }

    .about .left-side p, .about .left-side ul {
        margin-bottom: 40px;
    }

    .about .left-side {
        width: 90% !important;
    }

    header {
        padding: 10px 20px;
        box-shadow: 0 10px 30px -10px var(--header-bg);
    }

    #nav {
        position: sticky;
        display: flex;
        flex-direction: column;
    }

    .hide {
        opacity: 1;
    }

    .project {
        padding: 50px 50px;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .inner .image-container {
        margin: 0;
    }

    .content.responsive {
        filter: blur(20px);
        opacity: 0.2;
        cursor: pointer;
    }

    .nav-links-container div, .nav-links-container ol {
        display: none;
    }

    .nav-links-container.responsive {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--header-bg);
        position: relative;
        width: 100%;
        padding: 20px 10px;
        border: 1px solid var(--blue);
        border-radius: 5px;
        opacity: 1;
        font-size: 40px;
    }

    .nav-links-container.responsive ol {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-links-container.responsive div {
        display: block;
        margin: 0 auto;
    }

    .nav-links-container.responsive ol li {
        width: 100%;
        padding: 10px;
        height: 150px;
    }

    .nav-links-container.responsive ol li a:before {
        font-size: 30px;
    }

    .nav-links-container.responsive ol li a {
        width: 100%;
    }


    #nav a:hover {
        border: none;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .logo .menu-icon i {
        height: 50px;
        width: 50px;
    }


    .logo .menu-icon {
        display: block;
    }

    #nav.responsive {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        /*z-index: 2;*/
    }

    #day {
        width: 100%;
        text-align: center;
    }

    .numbered-heading:before {
        font-size: 16px;
    }

    .overline, #contact h2, #contact p, #contact {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .difficulty {
        width: 100%;
    }
}


/*Root*/

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
    --tictactoe-bg: #001560;

    --header-bg: rgb(0, 17, 77);
    --blue: #43bff0;
    --light-slate: #fff;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --font-sans: 'Calibre', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --transition: all 1s;
}

